.post {
    width: 80%;
    padding:3rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #1E1E1E;
    margin-bottom: 5rem;

    &__title {
        font-weight: bold;
        margin-bottom: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        background-color: #1E1E1E;
        font-size: 1.6rem;
        outline:0;
        border: 0;
        color: white;
    }

    &__body {
        width: 100%;
        max-width: 100%;
        font-weight: 300;
        background-color: #1E1E1E;
        font-size: 1.6rem;
        outline:0;
        border: 0;
        color: white;
        text-align: left;
    }

    .custom-button {
        margin-top: 2rem;
        margin-left: auto;
        width: 15rem;
        border-radius: 0;
        color: black;
    }
}